{% extends 'base/main.html' %}
{% block content %}

<table class = "client-table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Contact Name</th>
            <th>Contact Email</th>
            <th>Contact Phone</th>
            <th>Status</th>
        </tr>
    </thead>
    {% for client in clients %}
    <tr>
        <td>{{client.name}}</td>
        <td>{{client.contact_name}}</td>
        <td>{{client.contact_email}}</td>
        <td>{{client.contact_phone}}</td>
        <td>{% if client.active %} Active {% else %} InActive {% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}