{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

<style>
    body{
        background-color: #ededed;
        font-family: 'Nunito', sans-serif;
        padding: 50px;
        margin: 0;
    }

    .list-wrapper{
        max-width: 450px;
        margin: auto;
        align-items: center;
        text-align: center;
    }

    .header-bar{
        font-size: 2.5em;
        font-weight: bold;
        max-width: 450px;
        color: #FFFFFF;
        padding: 10px;
        border-radius: .5em .5em 0 0;
        background: #a91d3a;
        margin: 0;
    }

    .login-form{
        flex: column;
        border-radius: 0 0 1em 1em;
        background-color: #FFFFFF;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
        box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
        padding: 10px 0;
    }

    .login-form form{
        margin: 0;

    }
</style>

<div class="list-wrapper">
    <div class="header-bar">
        Metieta
    </div>
    <div class = login-form>
        <form method = "POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="{% url 'register'%}">register</a></p>
    </div>
</div>
{% endblock %}